Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Characters
Content/Cursor
Content/LevelPrototyping
Content/TopDown
Content/_ExternalActors_
Content/_ExternalObjects_
